.footer{
    padding-top: 8.4%;
    margin-left: 0.5%;
    margin-bottom: 0%;
}
a:link, a:visited {
    font-size: 13.5px;
    color: #7e7e7e;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
a:hover{
    text-decoration: none;
    text-decoration: underline;
    color: black;
}
.copyright{
    font-size: 13px;
    color: #7e7e7e;
}

@media only screen and (max-width: 600px) {
    .footer{
        margin-left: 0px;
    }
  }